/* - FONTS AND TEXT - */

@font-face{
  font-family:"Nettizen Script Dancing";
  src:url("source/Nettizen Script Dancing.otf");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("Inter-UI-Regular.woff2") format("woff2"),
       url("Inter-UI-Regular.woff") format("woff");
}

h1, h2, h3, h4 {
  font-family: omnes-pro;
}

h1{
  font-size:2.9em;
  font-weight:400;
  letter-spacing: 5px;
  text-shadow:0px 0px 15px #e6b400;
  color:#fff;
}

h2{
  font-size:2.25em;
  font-weight:400;
  letter-spacing: 5px;
}


h3 {
  font-size:2em;
  font-weight:300;
  letter-spacing: 5.5px;
  text-shadow:0px 0px 15px #e6b400;
}

h4 {
  font-size:1.7em;
  font-weight:200;
  letter-spacing: 4px;
  text-shadow:0px 0px 11px #e6b400;
}

h5 {
  font-size:0.8em;
  font-weight:300;
  letter-spacing: 3.5px;
  color:#B4A491;
}

h6 {
  font-size:0.8em;
  font-weight:300;
  letter-spacing: 3.5px;
  line-height: 0;
  margin-bottom: 3px;
  padding-bottom: 3px;
  margin-top:15px;
  /*text-shadow:0px 0px 1px #fff;*/
  color:#B4A491;
  text-transform: uppercase;
}


header a{
  text-decoration: none;
  position:relative;
}

header a:hover{
  color:rgba(230,180,0,1);
    text-shadow:0px 0px 15px #e6b400;
}

.myname{
  font-weight:300;
  font-family: omnes-pro;
  color:#fefffe;
  text-shadow:0px 0px 11px #e6b400;
  font-size:1.1em;
}

a{
  text-decoration: none;
  color:inherit;
}

ul{
  text-align: left;
  margin-left:0%;
  margin-top:0%;
  padding-left: 0%;
}

li{
  margin-bottom:.6em;
}

span.center{
  text-align: center;
}

.subbullet{
  margin-left: 5%;
}

.imagedesc p{
  font-size:0.7em;
  margin-top:1.5em;
  margin-bottom: 1.5em;
}

p.imagesubheader{
  font-style: italic;
  /*color:#A89988;*/
  /*font-weight: 200;*/
}

.bolder{
  font-weight:bolder;
  color:#fff;
}

.bubbletext{
  font-size: 1.2em;
  letter-spacing: 3px;
  font-weight: bolder;
}

/* - SECTIONS: BODY HEADER NAV MODALS- */
body{
  background-color:#636A7E;
  margin:0px;
  padding:0px;
  font-family: omnes-semicond, 'Inter UI', sans-serif;
  letter-spacing: 1.2px;
  font-weight:300;
  font-size:1.1em;
  color:#F4ECEC;

  background:url("source/Text.svg"),url("source/Picture1.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

header{
  /*background-color:#fefffe;*/
  background-color:transparent;
  position:relative;
  height:81px;
  letter-spacing: 3px;
  font-size: 1.0em;
  z-index: 100000;
}


.headerleft, .headerright{
  margin:0px;
  padding:0px;
  display:inline-block;
  position:absolute;
  top:50%;
  color:rgba(254,255,254,0.5);
}

.headerright{
  right:5%;
  }

.headerleft{
  left:5%;
  }

.homepagebody, .portfoliobodywrapper{
  position:absolute;
  width:100%;
  bottom:0px;
  top:0px;
  overflow:hidden;
}

#about .overlaytext{
  padding-right: 20%;
  padding-top: 2.5%;
  width:80%;
}

#projects .overlaytext{
  display: flex;
  justify-content:space-between;
}

.portfoliobodywrapper{
  background:url("source/Picture2.png");
  background-size:cover;
  background-position: center;
  text-align: center;
  overflow:auto;
}

.portfoliobody{
  top:81px;
  background-color:transparent;
  position:fixed;
  width:100%;
  height:100%;
  overflow: auto;
}

.rotatingwords{
  margin:0 auto;
  width:100%;
  text-align:center;
  font-family:"Nettizen Script Dancing";
  font-weight:normal;
  font-size:calc(100px + 10vw);
  color:#fff;
  text-shadow:0px 0px 15px #e6b400;
  position:absolute;
  bottom:calc(60% + 3vw);
}

.overlaytext{
  margin: 0 auto;
  position:relative;
  width:100%;
  background-color:transparent;
  /*text-align: center;*/
}

.proj{
  background-color:transparent;
  text-align:center;
  width:32%;
  margin:5% auto;
}

.proj-modal {
  position: fixed;
  /*top: 81px;*/
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  /*line-height: 100%;*/
  z-index: 99999; 
  opacity:0;
  -webkit-transition: opacity 800ms ease-in;
  -moz-transition: opacity 800ms ease-in;
  transition: opacity 800ms ease-in;
  pointer-events: none;
  background:url("source/Picture2.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj-modal:target {
    opacity:1;
    pointer-events: auto;
}

.proj-modal > div{
    width: 80%;
    position: relative;
    margin: 5% auto;
    background-color: transparent;
}

.close {
    background-color: transparent;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 30px;
    text-decoration: none;
    font-size: 1.5em;
}

.close:hover {
    background: #636A7E;
}

.portfoliotop, .portfolioblock{
  /*margin-top:35%;*/
  margin-left:auto;
  margin-right:auto;
  width:650px;
  padding:1.75% 5%;
  color:#F4ECEC;
}

.portfolioblock{
  background-color: rgba(39,38,44,0.5);
  padding-bottom:4%;
}


.artifactcontainer{
  display:flex;
  justify-content:space-between;
  width:100%;
}

.artifactcontent, .imagecontent{
  margin:0%;
  text-align: left;
  font-size:0.85em;
}

.artifactcontent{
  width:70%;
}

.imagecontent{
  width:25%;
}

.annotationleft, .annotationright{
  width:20%;
  margin:0%;
  padding:0%;
}

.annotationleft{
  padding-right:2%;
  border-right:0.25px solid #A89988;
  text-align: right;
} 

.annotationright{
  padding-left:2%;
  border-left:0.25px solid #A89988;
  text-align: left;
}

.imagedesc{
  padding-left:2%;
  border-left:0.25px solid #A89988;
  text-align: left;
  width:45%;
  margin:0%;
  font-weight:200;
}

.protodesc{
  padding:20px 2% 0 0;
  /*border-right:0.25px solid #A89988;*/
  text-align: left;
  width:45%;
  margin:0%;
}

table{
  table-layout: fixed;
  font-size: 0.8em;
  width:100%;
  text-align: center;
  font-weight: 200;
  border-collapse:collapse;
  padding:0;
}

th{
  word-wrap:break-word;
  font-size:0.95em;
  font-weight:300;
  letter-spacing: 2px;
  margin-bottom: 3px;
  padding-bottom: 3px;
  margin-top:15px;
  color:#B4A491;
  text-transform: uppercase;
}

td{
  vertical-align: top;
}

.competitivetable tr.xrow:hover{
  background-color:rgba(255,255,255,0.1);
}

.col1{
  text-align: left;  
  width: 32%;
}

.competitivetable /*td.col1*/{
  font-size: 0.73em;
}

.personatable td.col1{
  width: 30%;
}

.personatable td.col2{
  text-align: left;  
  width: 70%;
}

.personatable{
  padding: 0;
  margin: 0;
  vertical-align:top;
}

.personatable ul{
  display:inline-block;
  padding:0;
  padding-bottom:3%;
  margin:0;
}

hr{
  border: 0.5px solid rgba(255,255,255,0.1);
  width:15%;
  display:inline-block;
  margin-bottom:8.5px;
}

#projects hr{
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
  border: 0.5px solid rgba(255,255,255,0.35);
  width:25%;
}

.imagepng{
  display:inline-block;
}

.userjourney{
  font-size: 0.6em;
  color:#F4ECEC;
}

.userjourney th, .userjourney td{
  padding-bottom:1.1em; 
  padding-left: 1.03em;
  padding-right: 1.03em;
}

.userjourney td{
    text-align: left;
}

.userjourney td.col1, .userjourney th.col1{
  width:14%;
}

.sketches{
  width:140px;
}

.wireframes{
  height:235px;
  margin-top:4px;
}

footer{
  margin-top: 50px;
  margin-bottom: 150px;
  color:rgba(254,255,254,0.5);
  font-size: 0.7em;
  letter-spacing: 2px;
  /*text-align: right;
  width:650px;
  margin-left: auto;
  margin-right: auto;
  padding:0% 5%;*/
}

/* - ANIMATION - */

div.sprite1 {
  width:100%;
  height:100%;
  position: absolute;
  background-image:url("source/Interaction1.svg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotateWord 6.3s linear infinite 0s;
  -ms-animation: rotateWord 6.3s linear infinite 0s;
  animation: rotateWord 6.3s linear infinite 0s;
}

div.sprite2 {
  opacity:0;
  width:100%;
  height:100%;
  position: absolute;
  background-image:url("source/Interaction2.svg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotateWord 6.3s linear infinite 0s;
  -ms-animation: rotateWord 6.3s linear infinite 0s;
  animation: rotateWord 6.3s linear infinite 0s;
}

div.sprite3 {
  opacity:0;
  width:100%;
  height:100%;
  position: absolute;
  background-image:url("source/Interaction3.svg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotateWord 6.3s linear infinite 0s;
  -ms-animation: rotateWord 6.3s linear infinite 0s;
  animation: rotateWord 6.3s linear infinite 0s;
}

.sprite div:nth-child(2){
  -webkit-animation-delay: 2.1s; 
  -ms-animation-delay: 2.1s; 
  animation-delay: 2.1s; 
  }

.sprite div:nth-child(3){
  -webkit-animation-delay: 4.2s; 
  -ms-animation-delay: 4.2s; 
  animation-delay: 4.2s; 
  }


@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    20% { opacity: 1; -webkit-transform: translateY(0px); }
    30% { opacity: 0.1; -webkit-transform: translateY(-30px); }
    /*90% { opacity: 0; }*/
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    20% { opacity: 1; -ms-transform: translateY(0px); }
    30% { opacity: 0.1; -ms-transform: translateY(-30px); }
    /*90% { opacity: 0; }*/
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    20% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    30% { opacity: 0.1; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    /*90% { opacity: 0; }*/
    100% { opacity: 0; }
}


@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

